[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.18.4"
bottle = "==0.12.13"

[dev-packages]
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
